<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Create Gohub Template</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="build/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="build/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="build/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="build/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="build/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="build/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="build/assets/css/theme.css" rel="stylesheet"/>
    <link href="build/assets/css/user.css" rel="stylesheet"/>

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main>
      <p></p>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="build/vendors/popper/popper.min.js"></script>
    <script src="build/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="build/vendors/anchorjs/anchor.min.js"></script>
    <script src="build/vendors/is/is.min.js"></script>
    <script src="build/assets/js/theme.js"></script>

  </body>
</html>